<div class="row">
	<div class="col-xs-12">
		<div id="login-form">
			<div class="headers text-center">
			<h1>Login</h1>
			<%= form_for :user, url: '/login' do |f| %>
				<div class="form-group">
					<%= f.label :email %>
					<%= f.text_field :email, class: "form-control" %>
				</div>
				<div class="form-group">	
					<%= f.label :password %>
					<%= f.password_field :password, class: "form-control" %>
				</div>
				<div class="form-group">	 
					<center><%= f.submit "Submit", class: 'btn btn-block btn-primary' %></center><br><br>
				</div>
			<% end %>
		</div>
	</div>	
</div>