<div class="row">
	<div class="col-sm-6" id="register-info">
		<div class="row register-icon-row">
			<div class="col-sm-4" id="icon-block">
				<span class="glyphicon glyphicon-refresh" id="register-icon"></span>
			</div>
			<div class="col-sm-4">
				<p id="register-words">Log-in and sync your Google calendar</p>
			</div>
		</div>
		<br>
		<div class="row register-icon-row">
			<div class="col-sm-4" id="icon-block">
				<span class="glyphicon glyphicon-signal" id="register-icon"></span>
			</div>
			<div class="col-sm-4">
				<p id="register-words">Receive basic stats from the beginning</p>
			</div>
		</div>
		<br>
		<div class="row register-icon-row">
			<div class="col-sm-4" id="icon-block">
				<span class="glyphicon glyphicon-circle-arrow-up" id="register-icon"></span>
			</div>
			<div class="col-sm-4">
				<p id="register-words">Rate previous meetings to predict future meetings for increased productivity</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6" id="register-form">
		<div class="headers text-center">
			<h1>Register</h1>
		</div>
		<%= form_for :user, url: '/users' do |f| %>
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :username %>
				<%= f.text_field :username, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :email %>
				<%= f.text_field :email, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, class: "form-control" %>
			</div>
			<div class="form-group">
				<center><%= f.submit "Submit", class: 'btn btn-block btn-primary' %></center>
			</div>
		<% end %>
	</div>
</div>