<% if @user.private_profile == true && @user != current_user %>
	<%= "Private Profile" %>
<% else %>
	<div class="row">
		<p id="profile-name"><%= @user.name %></p>
		<p id="profile-summary"><%= "On an average weekday, you attend #{@average_day_events_count.round} meetings, mostly in the #{@events_morn_after}, collaborating with approximately #{@average_day_events_attendee_count.round} people." %></p>
	</div>
	<div class="row">
		<div class="well beyond-edges">
			<div class="col-sm-7 hidden-xs">
				<div id='chart_hourly'></div>
				<%= render_chart(@events_hourly, 'chart_hourly') %>
			</div>
			<div class="col-xs-3 hidden-sm hidden-md hidden-lg hidden-xl">
				<div id='chart_hourly_small'></div>
				<%= render_chart(@events_hourly_small, 'chart_hourly_small') %>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-2 hidden-xs">
				<div id='chart_cancelled'></div>
				<%= render_chart(@cancelled_percentage, 'chart_cancelled') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="hidden-sm hidden-xs">
			<div id='chart_top_collabs'></div>
			<%= render_chart(@events_collabs_sankey, 'chart_top_collabs') %>
		</div>
		<div class="hidden-lg hidden-md hidden-xs">
			<div id='chart_top_collabs_med'></div>
			<%= render_chart(@events_collabs_sankey_med, 'chart_top_collabs_med') %>
		</div>
		<div class="hidden-lg hidden-md hidden-sm">
			<div id='chart_top_collabs_small'></div>
			<%= render_chart(@events_collabs_sankey_small, 'chart_top_collabs_small') %>
		</div>
	</div>
	<div class="row">
		
	</div>
<% end %>