Events Rated: <%= @events_rated %><br>
<p id="green">Green = <%= current_user.name %> organized</p>
<p>Not showing meetings that were cancelled or had less than 2 attendees</p>
<form id="ratings-form">
	<button value="Submit" class="btn btn-primary" id="ratings-submit">Submit</button><br><br>
	<div class="row">
			<div class="col-xs-2">
				<b>Ratings</b>
			</div>
			<div class="col-xs-2">
				<b>Current Rating</b>
			</div>
			<div class="col-xs-4">
				<b>Event</b>
			</div>
		</div>
		<br>
	<% @events.each do |e| %>
		<div class="row">
			<div class="col-xs-2">
				<div class="radio-buttons" id="<%= e.gcal_event_id %>">
					<label><input type="radio" name="optradio-<%= e.gcal_event_id %>" id="<%= e.gcal_event_id %>" value="1"> 1</label>
					<label><input type="radio" name="optradio-<%= e.gcal_event_id %>" id="<%= e.gcal_event_id %>" value="2"> 2</label>
					<label><input type="radio" name="optradio-<%= e.gcal_event_id %>" id="<%= e.gcal_event_id %>" value="3"> 3</label>
					<label><input type="radio" name="optradio-<%= e.gcal_event_id %>" id="<%= e.gcal_event_id %>" value="4"> 4</label>
					<label><input type="radio" name="optradio-<%= e.gcal_event_id %>" id="<%= e.gcal_event_id %>" value="5"> 5</label>
				</div>
			</div>
			<div class="col-xs-1">
				<%= e.rating %>
			</div>
			<div class="col-xs-5 creator_self-<%=e.creator_self%>">
				Summary: <%= e.summary.nil? ? "n/a" : e.summary %> / Attendees: <%= e.attendee_count %><br>
				Creator: <%= e.creator %><br>
				<%="Start: #{e.start.nil? ? e.original_start_time.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %d, %Y at %l%p") : e.start.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %d, %Y at %l%p")}" %>
				<%= link_to "Cal", e.html_link %>
				<%= " / " %>
				<%= link_to "Event", "/events/#{e.id}" %>
			</div>
		</div>
		<br>
	<% end %>
</form>