<div class="container">
	<div class="row">
		<div class="col-sm-4" id="about-page-top">
			<br>
			<b><u><%= "Sync Your Google Calendar" %></u></b><br><br>
			<b><%="Basic stats" %></b><br>
			<%= "Such as top collaborators,  hours and day of week you have the most meetings, etc." %><br>
			<%= link_to "See example profile here", '/stanleyyork' %><br><br>
			<b><%="Prediction of future meetings" %></b><br>
			<%="Based on a ratings you give previous meetings." %><br>
			<%= "Version one is a weighted average of attributes with the ultimate goal of using logistic regression." %><br>
			<br>
		</div>
		<div class="col-sm-6 hidden-xs">
			
			<div id='chart_top_collabs_med'></div>
			<%= render_chart(@events_collabs_sankey_med, 'chart_top_collabs_med') %>
		</div>
		<div class="col-sm-4 hidden-sm hidden-md hidden-lg hidden-xl">
			<br>
			<div id='chart_top_collabs_small'></div>
			<%= render_chart(@events_collabs_sankey_small, 'chart_top_collabs_small') %>
		</div>
		<div class="row">
			<div class="col-sm-7 hidden-xs hidden-sm">
				<div id='chart_hourly_about'></div>
				<%= render_chart(@events_hourly, 'chart_hourly_about') %>
			</div>
			<div class="col-xs-3 hidden-md hidden-lg hidden-xl">
				<div id='chart_hourly_small_about'></div>
				<%= render_chart(@events_hourly_small, 'chart_hourly_small_about') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row homepage-bottom">
				<%= "created by" %> <%= link_to "Stanley Stevens", 'http://www.stanleyyork.com' %>
			</div>
		</div>
	</div>
</div>