<!DOCTYPE html>
<html>
<head>
  <title>PredictiveCalendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/jsapi'></script>
  
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
		<div class="row">
			<div class="col-xs-4">
				<a class="navbar-brand" href="#">
			    	<span class="glyphicon glyphicon-calendar" id="nav-brand"></span>
			    </a>
			</div>
			<div class="col-xs-6 navbar-right">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="mobile-toggle-button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<% if current_user %>
					<p class="navbar-text navbar-right">
						<a href="/profile" class="navbar-link"><%= current_user.nil? ? "Profile" : current_user.name %></a>
					</p>
					<p class="navbar-text navbar-right"><a href="/ratings" class="navbar-link">Ratings</a></p>
					<p class="navbar-text navbar-right"><a href="/settings" class="navbar-link">Settings</a></p>
					<% if Event.where(user_id: current_user.id).where.not(rating: nil).count > 0 %>
					<p class="navbar-text navbar-right"><a href="/analyze" class="navbar-link">Analyze</a></p>
					<p class="navbar-text navbar-right"><a href="/logreg" class="navbar-link">LogReg</a></p>
					<% end %>
					<p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">Logout</a></p>
					<% else %>
						<p class="navbar-text navbar-right"><a href="/login" class="navbar-link">Login</a></p>
					<p class="navbar-text navbar-right"><a href="/signup" class="navbar-link">Register</a></p>
					<% end %>
				</div>
			</div>
		</div> 
  </div>
</nav>

<% if flash[:notice] %>
	<div class="alert">
		<div class="alert alert-danger" role="alert">
		  <% if flash[:notice].class != String %>
		  <% flash[:notice].each do |f| %><br>
		  <%= f %>
		  <% end %>
		  <% else %>
		  <%= flash[:notice] %>
		  <% end %>
		</div>
	</div>
<% end %>

<%= yield %>

</body>
</html>
